.grid-item{
    margin: 0.5%;
    padding: 1%;
    border-radius: 1%;
}
.grid-i{
    margin: 1.5%;
    padding: 1.25%;
    background-color: white;
    border:1px solid;
    color:black;
}

.equalsign{
    width:100%;
    background-color: forestgreen;
    font-size: x-large;
    color: white;
}
.container{
    border: 2px solid;
    border-radius: 5px;
    margin:2.5%;
    background-color:floralwhite;
}
.keypad{
    width:24.6%;
    font-size: x-large;
}


