

h1.olive{
    margin: auto;
    width: 100%;
    background-color:olivedrab;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 1.5%;
}
h1.grey{
    margin: auto;
    width: 100%;
    background-color:lightgrey;
    padding: 10px;
    text-align: center;
    color: black;
    
}

#btnAdd {
    width: 50%;
    border-radius: 20px;
    margin:auto;
    display: block;
}
#stockOptions{
    margin:2px;
    margin:0 25px;
    
}
#costPS{
    margin:2px;
    margin:0 25px;
}
#moneyI{
    margin:2px;
    margin:0 25px;
}
#CurrentChartPattern{
    margin:2px;
    margin:0 25px;
    
}
.organization{
    margin-top: 2.5%;

}
.btnorganization{
    margin-top: 1.5%;
}
.table-striped{
    margin-top: 1%;
}
#btnSave{
    width: 50%;
    border-radius: 20px;
    margin:auto;
    display: block;
}
#InvestmentTerm{
    width:250px;
    margin:2px;
    margin:0 15px;
}
#btnRemoveAll{
    width: 125px;
    height: 125px;
    border-radius: 49%;
    margin:auto;
}
#btnLoad{
    width: 50%;
    border-radius: 20px;
    margin:auto;
    display: block;
}

