<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
   <body>
   
      <table  class = "mui-table mui-table--bordered">
         <thead>
            <th>Contributor Name</th>
            <th>Platform</th>
            <th>Contribution Type</th>
            <th>Game Title</th>
            <th>Date of Entry</th>            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["cont"]}}</td>
               <td>{{row["platform"]}}</td>
               <td>{{row['cont_type']}}</td>
               <td>{{row['gamename']}}</td>
               <td>{{row['date']}}</td>
            </tr>
         {% endfor %}
      </table>
   <a href = "/gameinventory" class = "mui-btn mui-btn--danger">Back to Community Inventory</a>
   <a href = "/" class = "mui-btn mui-btn--primary">Back to Community Home</a>  
   </body>
</html>