<html>

<head>
    <title>Flask for Fun</title>
</head>

<body>
    <div>
        <div><a href="/">Home</a></div>
        <div>
            <h2>Pick the category, language, and number of jokes to hear</h2>
        </div>
        <form method="POST">
            <div>
                <div>
                    <label for="category" value="Category">Category</label>
                    <select name="category" id="selCat">
                     <option value="neutral">Neutral</option>
                     <option value="chuck">Chuck</option>
                     <option value="neutral">All</option>
                    </select>
                </div>
                <div>
                    <label for="language" value="Language">Language</label>
                    <select name="language" id="selLang">
                    <option value="english">en</option>
                    <option value="spanish">es</option>
                    <option value="german">de</option>
                    <option value="italian">it</option>
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit" id="btnAmuse" value="Tell me a joke">Amuse me</button>
                </div>
            </div>
        </form>
        <div id="jokes">
            <!-- This is a placeholder for jokes -->
        </div>
    </div>
</body>

</html>