#warnings {
    font-family: 'Times New Roman', Times, serif;
}

#greeting{
    font-family: 'Times New Roman', Times, serif;
}

#primeInfo{
    font-size: larger;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.head {
    text-decoration: solid;
    font-size: larger;
}
