
.control{
    display: inline-block;
    margin: 0 84px;
    padding :10px;
}
label{
    display: block;
}
#getInfo{
    width:140px;
}
.text{
    font-size: x-large;
}
.form-text{
    font-size: larger;
}
#batch{
    size:60%;
}
#factAboutNumber {
    padding: 22px;
    font-size: larger;
    margin: auto;
    font-family: auto;
    font-size: large;
    width: 1080px;
    border: 2px solid;
    margin-bottom: 20px;
}
#numberInputByUser {
    border: 2px solid;
    width: 165px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    font-size: x-large;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
