
.control{
    display: inline-block;
    margin: 0 50px;
    padding :40px;
}
label{
    display: block;
}
#getInfo{
    width:140px;
}
.text{
    font-size: larger;
}
.form-text{
    font-size: larger;
}
#batch{
    size:60%;
}