.grid-item{
    margin: 0.5%;
    padding: 1%;
    border-radius: 1%;
}
.grid-i{
    margin: 1.5%;
    padding: 1.25%;
    background-color: black;
    border:1px solid;
    color:white;
    font-size: x-large;
}

.btn-success{
    width:100%;
    background-color: forestgreen;
    font-size: x-large;
    color: white;
}

.btn-warning{
    width:24.6%;
    font-size: x-large;
}
.container{
    
    border-radius: 5px;
    margin:2.5%;
    
}
.btn-secondary{
    width:24.6%;
    font-size: x-large;
}


