<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
    <body>
        <div class= "mui-container mui--text-center">
            <h1 class="mui--text-display2">{{ msgg }}</h1>
            <a href = "/" class = "mui-btn mui-btn--primary">Go to Home</a>
            <a href = "/client" class = "mui-btn mui-btn--primary">Purchase More Cards</a>
        </div>
    </body>
</html>