<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
   <body>
   
      <table class = "mui-table mui-table--bordered">
         <thead>
            <th>Purchaser Discretion Type</th>
            <th>Amount Awarded</th>
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row["discretion"]}}</td>
               <td>{{row["amount"]}}</td>
            </tr>
         {% endfor %}
      </table>
   <a href = "/manager" class = "mui-btn mui-btn--danger">Back to Manager Home</a>
   <a href = "/" class = "mui-btn mui-btn--primary">Back to Fundraiser Home</a>  
   </body>
</html>