<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
    <body>
        <div class= "mui-container mui--text-center">
        <h1 class="mui--text-display2"> Welcome to my Fundraiser Page</h1>
        <h1 class="mui--text-display1"> What kind of user are you? </h1>
        <a href = "/client" class = "mui-btn mui-btn--primary">CLIENT</a>
        <a href = "/manager" class = "mui-btn mui-btn--danger">MANAGER</a>
        </div>
    </body>
</html>