<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = "../static/js/script.js"></script>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
<form action = "{{ url_for('data') }}" method = "POST">
        <div class = "mui-container mui--text-center" style= "margin-bottom:35px;">
            <h1> Script Order Form </h1>
        </div>

        <div>
            <label for="title" class="form1">Purchaser</label>
            <input id="title" name = "nm" required />
            <label for="title" class="form1" style = "position:absolute;margin-left:910px;">Date</label>
            <input type = "date" name = "dt" style = "position:relative;margin-left:950px;"id="title" required />
        </div>

        <div>
            <table  class="mui-table" border=1px style = "border-collapse: collapse;margin-top:47px;width:15%;float:left;height:500px;font-size:12px">
                <thead>
                    <tr>
                       <th>Merchant</th>
                       <th>Denomination</th>
                       <th>Quantity</th>
                       <th>$ Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" id="aW" style = "border:0px;width:190px;" value="A&W 10%(Sold as LIS Card)" name="aW" readonly>
                        </td>
                        <td>
                            <select id ="sel1" class = "sel" style = "width:80px" type = "int" name = "valAW">        
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty1" style = "width:75px"class = "qty" name="quantityAW">
                        </td>
                        <td><input type ="int" id = "result1" style = "width:60px"class = "result" name="amountAW"readonly/></td>
                    </tr>              
                    <tr>
                        <td>
                            <input type="text" id="aC" style = "border:0px;width:190px;" value="Ace 10%" name="ace" readonly>
                        </td>
                        <td>
                            <select id ="sel2"  class = "sel" style = "width:80px" name = "de">        
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty2" style = "width:75px"class = "qty" name="qAce">
                        </td>
                        <td><input type ="int" id = "result2" style = "width:60px"class = "result" name = "amounAce"readonly/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="caseys" style = "border:0px;width:190px;" value="Caseys 3%" name="caseys" readonly>
                        </td>
                        <td>
                            <select id ="sel3" class = "sel" style = "width:80px" name ="d">        
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty3" style = "width:75px"class = "qty" name="quanC">
                        </td>
                        <td><input type ="int" id = "result3" style = "width:60px"class = "result" name = "amounC" readonly/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="fway" style = "border:0px;width:190px;" value="Fareway 3%" name="fway" readonly>
                        </td>
                        <td>
                            <select id ="sel4" class = "sel" style = "width:80px" name = "dN">        
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty4" style = "width:75px"class = "qty" name="quanfway"/>
                        </td>
                        <td>
                            <input type ="int" id = "result4" style = "width:60px"class = "result" name ="amounfway" readonly/> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="fisks" style = "border:0px;width:190px;" value="Fisks 5%" name="fisks" readonly>
                        </td>
                        <td>
                            <select id ="sel5" class = "sel" style = "width:80px" name ="DE">        
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int"  id = "qty5" style = "width:75px"class = "qty" name="quanfisks">
                        </td>
                        <td><input type ="int" id = "result5" style = "width:60px"class = "result" name="amounfisks" readonly/> </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="dfresh" style = "border:0px;width:190px;" value="Dollar Fresh 3%" name="dfresh" readonly>
                        </td>
                        <td>
                            <select id ="sel6" class = "sel" style = "width:80px" name = "DEN">        
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty6" style = "width:75px"class = "qty" name="quandf">
                        </td>
                        <td><input type ="int" id = "result6" style = "width:60px"class = "result" name = "amoundf"readonly/> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div> 
            <table  class="mui-table"border=1px style = "border-collapse: collapse;margin-top:47px;width:25%;float:right;height:500px;font-size:12px">
                <thead>
                    <tr>
                       <th>Merchant</th>
                       <th>Denomination</th>
                       <th>Quantity</th>
                       <th>$ Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" id="kwikstar" style = "border:0px;width:190px;" value="Kwik Star 5% **" name="kwikstar" readonly>
                        </td>
                        <td>
                            <select id ="sel7" class = "sel" style = "width:80px" name="DENO">        
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int"  id = "qty7" style = "width:75px"class = "qty" name="quankwik">
                        </td>
                        <td><input type ="int" id = "result7" style = "width:60px"class = "result"  name="amounkwik" readonly/> </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="pinters" style = "border:0px;width:190px;" value="Pinters 3%" name="pinters" readonly>
                        </td>
                        <td>
                            <select id ="sel8" class = "sel" style = "width:80px" name = "DENOM">        
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty8" style = "width:75px"class = "qty" name="quanpint">
                        </td>
                        <td><input type ="int" id = "result8" style = "width:60px"class = "result" name="amounpint"readonly/> </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="subway" style = "border:0px;width:190px;" value="Subway 5%" name="subway" readonly>
                        </td>
                        <td>
                            <select id ="sel9" class = "sel"style = "width:80px" name = "DENOMI">        
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty9" style = "width:75px"class = "qty" name="quansub">
                        </td>
                        <td><input type ="int" id = "result9" style = "width:60px"class = "result" name="amounsub"readonly/> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="szq" style = "border:0px;width:190px;" value="Sue-Z-Q 10%" name="szq" readonly>
                        </td>
                        <td>
                            <select id ="sel10" class = "sel" style = "width:80px" name = "DENOMIN">        
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty10" style = "width:75px"class = "qty" name="quanszq">
                        </td>
                        <td><input type ="int" id = "result10" style = "width:60px"class = "result" name="amounszq" readonly/> </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="atomic" style = "border:0px;width:190px;" value="Atomic 5%" name="atomic" readonly>
                        </td>
                        <td>
                            <select id ="sel11" class = "sel" style = "width:80px" name = "DENOMINA">        
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty11" style = "width:75px"class = "qty" name="quanatom">
                        </td>
                        <td><input type ="int" id = "result11" style = "width:60px"class = "result" name="amounatom" readonly/> </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="so" style = "border:0px;width:190px;" value="Special Orders" name="so" readonly>
                        </td>
                        <td>
                            <select id = "sel12" class = "sel" style = "width:80px" name = "DENOMINAT">        
                                <option value="500">500</option>
                                <option value="600">600</option>
                                <option value="700">700</option>
                                <option value="800">800</option>
                            </select>
                        </td>
                        <td> 
                            <input type="int" id = "qty12" style = "width:75px"class = "qty" name="quanso">
                        </td>
                        <td><input type ="int" id = "result12" style = "width:60px"class = "result" name="amounso" readonly/> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class= "mui-container mui--text-center">
            <h2>&nbsp</h2>
        </div>
        <div class= "mui-container mui--text-center" style = "margin-top:25px">
            <label for="total_Cards">Total Cards</label>
            <input id="totalCards" type = "int" style = "width:65px;margin-bottom:20px" name = "tcards" readonly />
            <label for="total_Due">Total Due ($)</label>
            <input id="totalDue" type = "int" style = "width:65px;margin-bottom:20px" name = "tdue" readonly />
            <label for="purchaser_Discretion">Purchaser Discretion (1%)</label>
            <input id="pd1" style = "width:60px" name = "pdamount" readonly />
        </div>
        <div class= "mui-container mui--text-center" style = "margin-top:20px">
            <h2>Purchaser Discretion (You can only choose one)</h2>
        </div>
        <div class= "mui-container mui--text-center" style = "margin-top:20px;margin-bottom:20px">
            <select id ="sel3" class = "sel" style = "width:250px" name ="pduse">         
                <option for="title" >Tuition Credit</option>
                <option for="title" >Donation to General Fund</option>
                <option for="title" >Adopt a Student Fund</option>
            </select>
        </div>
        
        <div class= "mui-container mui--text-center" style = "margin-top:30px;margin-bottom:20px">
            <label style = "margin-bottom:20px">If You Seleted Tuition Credit Enter Student</label><br>
            <input type = "text" style = "margin-top:20px" name ="studentName"/>
        </div>

        <div class= "mui-container mui--text-center" style = "margin-top:30px;margin-bottom:20px">
            <input type = "submit" class="mui-btn mui-btn--raised" value = "submit" />
        </div>
</form>
</body>
</html>
