<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
   <body>
   
      <table  class = "mui-table mui-table--bordered">
         <thead>
            <th>Total Number of Cards Sold</th>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row['sum(quantity)']}}</td>
            </tr>
         {% endfor %}
      </table>
   <a href = "/month" class = "mui-btn mui-btn--accent">Back to Total Sales By Date Query</a>
   <a href = "/manager" class = "mui-btn mui-btn--danger">Back to Manager Home</a>
   <a href = "/" class = "mui-btn mui-btn--primary">Back to Fundraiser Home</a>  
   </body>
</html>