<!doctype html>
<html>
<head>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
    <body>
        <div class= "mui-container mui--text-center">
        <h1 class="mui--text-display2"> What merchant total would you like to see?</h1>
        <a href = "/aw" class = "mui-btn mui-btn--primary">A&W</a>
        <a href = "/ace" class = "mui-btn mui-btn--primary">Ace</a>
        <a href = "/atomic" class = "mui-btn mui-btn--primary">Atomic</a>
        <a href = "/caseys" class = "mui-btn mui-btn--primary">Casey's</a>
        <a href = "/dfresh" class = "mui-btn mui-btn--primary">Dollar Fresh</a>
        <a href = "/fareway" class = "mui-btn mui-btn--primary">Fareway</a>
        <br>
        <a href = "/fisks" class = "mui-btn mui-btn--primary">Fisk's</a>
        <a href = "/kwikstar" class = "mui-btn mui-btn--primary">Kwikstar</a>
        <a href = "/pinters" class = "mui-btn mui-btn--primary">Pinters</a>
        <a href = "/subway" class = "mui-btn mui-btn--primary">Subway</a>
        <a href = "/szq" class = "mui-btn mui-btn--primary">Sue-Zue-Q's</a>
        <a href = "/special" class = "mui-btn mui-btn--primary">Special</a>
        </div>
    </body>
</html>